<ion-header>
  <ion-toolbar>
    <ion-title>Candidatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card" *ngFor="let candidato of candidatos">
    <div class="card-content">
      <img class="small-image" [src]="candidato.imagen" />
      <div class="details">
        <ion-card-header>
          <ion-card-title class="custom-title">{{ candidato.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" (click)="verDetalles(candidato)">Detalles</ion-button>
          <ion-button expand="block">Votar</ion-button>
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-content>


