.custom-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
  }

  ion-content {
    --background: #001a31;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh !important;
    padding: 20px !important;
  }

  ion-header {
    --background: #ffffff !important;
    border-bottom: 1px solid #e0e0e0;
  }

  ion-toolbar {
    --background: transparent;
    --min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .info-section {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    background-color: #001a31;
    font-family: 'Montserrat', sans-serif !important;
  }

  .results-button-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }

  .btn-text {
    font-size: 1.2rem !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
  }
  .btn-icon {
    font-size: 1rem !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
  }
  .btn-icon2 {
    font-size: 1rem !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
    margin-right: 10px;
  }

  .logo {
    max-width: 200px;
    height: auto;
    max-height: 150px;
  }

  .custom-card {
    background-color: white;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    max-width: 350px;
    max-height: 700px ;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: black !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .card-content {
    display: flex !important;
    align-items: center !important;
  }

  .small-image {
    width: 170px;
    height: 170px;
    border-radius: 10%;
    margin: 10px;
  }

  .ion-button {
    font-size: 0.6rem;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
  }

  .ion-button2 {
    font-size: 0.6rem;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
    margin: 20px;
  }

  .ion-card-title {
    color: #003366;
  }

  .custom-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
  }

  .image-container {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
    mask-image: linear-gradient(to top, transparent, black 50%);
  }

  .card-image {
    width: 100%;
    height: 250px;
    display: block;
  }



