<ion-header>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <img class="logo" src="/assets/icon/logoDirecta2.png" alt="Logo">
      <ion-button class="btn-icon" color="primary" expand="block" (click)="salir()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Salir
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="btn-icon ion-button2" color="tertiary" (click)="regresar()">
    <ion-icon name="arrow-back-circle-outline" class="btn-icon2"></ion-icon>
    Regresar a inicio
  </ion-button>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-footer>
    <div style="height: 50px;"></div>
  </ion-footer>
</ion-content>
