
$color-primary: #387ef5;
$color-background: #e0e0e0;
$color-input-bg: #ffffff;
$color-text: #424242;

h1 {
  color: black;
  font-family: 'Montserrat', sans-serif !important;
}

ion-content {
  --background: #001a31;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  padding: 20px !important;
}

form {
  margin-top: 150px !important;
  background-color: white;
  margin: auto;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  max-width: 350px !important;
  border-radius: 25px;
  padding: 20px !important;
}

ion-item {
  margin-bottom: 20px;
  --background: transparent;
  --border-color: black;
  --border-radius: 8px;
}

ion-label {
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
}

ion-input {
  --placeholder-color: $color-text;
  --color: black;
  --background: $color-input-bg;
  border-color: #424242;
  font-family: 'Montserrat', sans-serif !important;
}

ion-button {
  font-size: 1rem;
  font-weight:bold;
  font-family: 'Montserrat', sans-serif !important;
}

ion-row {
  ion-col {
    display: flex;
    justify-content: center;
  }
}

img {
  width: 80%;
  height: auto;
}
